.main {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    padding-top: 140px;
    padding-bottom: 20px;
}

.main__img {
    display: block;
    height: 300px;
    margin-top: 20px;
    margin-left: 70px;
}

.main__span {
    color: #006241;
}

.main__contenedor-img {
    width: 60%;
}

.main__contenedor-texto {
    width: 40%;
}

.main__titulo-principal {
    font-size: 50px;
}


@media screen and (min-width: 320px) {
    .main__contenedor-img {
        display: none;
    }

    .main__titulo-principal {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .main__contenedor-texto {
        width: 100%;
    }
}


@media screen and (min-width: 768px) {

.main {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    padding-top: 140px;
    padding-bottom: 20px;
}

.main__img {
    display: block;
    height: 300px;
    margin-top: 20px;
    margin-left: 70px;
}

.main__contenedor-img {
    width: 60%;
    display: block;
}

.main__contenedor-texto {
    width: 40%;
}

.main__titulo-principal {
    font-size: 50px;
}

}



@media screen and (min-width: 1024px) { 

    .main {
        height: 600px;
        display: flex;
        justify-content: space-between;
    }

    .main__contenedor-texto {
        width: 40%;
        margin-left: 20px;
        margin-right: 50px;
    }

    .main__titulo-principal {
        font-size: 70px;
    }

    .main__texto {
        font-size: 20px;
    }

    .main__contenedor-img {
        height: 450px;
        display: block;
    }

    .main__img {
        height: 450px;
        width: 450px;
    }




}